@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Inter_fn';
  src: url('../app/components/font/Inter-VariableFont_opsz\,wght.ttf');
}

body {
  background: var(--background);
  color: var(--foreground);
font-family: 'Inter_fn' !important;
}
.marquee-container {
  display: flex;
  width: fit-content;
}

.marquee-content {
  display: flex;
  animation: marquee-scroll linear infinite;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Dynamic animation duration based on item count */
.marquee-content {
  animation-duration: calc(100s * (var(--item-count) / 10));
}

@media (max-width: 768px) {
  .marquee-content {
    animation-duration: calc(50s * (var(--item-count) / 10));
  }
}